{% extends "templates/coming-soon.volt" %}

{% block title %}
<title>About Us</title>
{% endblock %}

{% block header %}
	style="background-image: url('/img/coming-soon/smclimbing.jpg');"
{% endblock %}

{% block section %}


{% endblock %}

{% block script %}
{% endblock %}
