{% extends "templates/coming-soon.volt" %}

{% block title %}
<title>QuikWit Coming Soon!</title>
{% endblock %}

{% block header %}
	style="background-image: url('/img/coming-soon/mchef.jpg'); height: 90%; min-height: 600px;"
{% endblock %}

{% block top %}
<h2>Rewards</h2>              
{% endblock %}

{% block section %}
<!-- Section : Service -->
<section id="what" class="section">
	<div class="container">
		<!-- section title -->
		<div class="title" >
			<h2>What is QuikWit?</h2>
			<span class="border"></span>
			<br>
			<br>
			<h4>
				QuikWit is a platform that inspires learners to develop skills and teachers to share their passion
			</h4>
		</div>
		<!-- section title end -->
		<div>
			
			<div class="service-item col-xs-12 col-sm-4 col-md-3">
				<span class="icon" style="color:#1b92ba">
                    <i class="li_bubble"></i>
                </span>
                <h4><strong>Tailored Learning</strong></h4>
                <p>Scan our database of enthusiastic and flexible instructors in your area and book sessions that fit your availability and budget.</p>				
			</div>

			<div class="service-item col-xs-12 col-sm-4 col-md-3">
				<span class="icon" style="color:#1b92ba">
                    <i class="fa fa-search"></i>
                </span>
                <h4><strong>Look it Up</strong></h4>
                <p>Need a place to pursue your interests? Find rated locations and facilities around you, like basketball courts, art studios or community centers, from lists generated by our users.</p>				
			</div>

			<div class="service-item col-xs-12 col-sm-4 col-md-3">
				<span class="icon" style="color:#1b92ba">
                    <i class="fa fa-dollar"></i>
                </span>
                <h4><strong>Make Quick Bucks</strong></h4>
                <p>You’re the sensei of your passion. Your expertise in a particular area is enviable. Who said you can’t make money doing what you love? Simply advertise your skill, availability and set your own lesson rates.</p>				
			</div>

			<div class="service-item col-xs-12 col-sm-4 col-md-3">
				<span class="icon" style="color:#1b92ba">
                    <i class="li_lock"></i>
                </span>
                <h4><strong>Safety First</strong></h4>
                <p>Information from instructors is verified to facilitate a safe platform. Secure payment processing is available to users.</p>				
			</div>							

		</div>
	</div>
</section>
<!-- Section : Service end -->

{% endblock %}

{% block script %}
{% endblock %}